<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suixin.vy.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- PROTECTION_NORMAL -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- PROTECTION_DANGEROUS -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_suixin"
        android:label="@string/app_name"
        android:name="com.suixin.vy.core.MyApplication"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name="com.suixin.vz.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.suixin.vy.ui.HomeActivity" >
        </activity>
        <activity android:name="com.suixin.vlee.ui.MainActivity_Lee" >
        </activity>
        <activity android:name="com.suixin.vlee.ui.ListViewLeeActivity" >
        </activity>
        <activity android:name="com.suixin.vy.ui.SelectActivity" >
        </activity>
        <activity android:name="com.suixin.vy.ui.ThemeActionActivity" >
        </activity>
        <activity android:name="com.suixin.vy.ui.PhotoFillActivity" >
        </activity>
        <activity android:name="com.example.girdviewtest.MainActivity" >
        </activity>
        <activity android:name="com.example.wechatvideorecorddemo.MainActivity" >
        </activity>
        <activity android:name="com.suixin.vy.ui.DetailsActivity" >
        </activity>
        <activity
            android:name=".ActivityLoging"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
如果集成QQ分享，或者使用QQ客户端来进行QQ空间的
分享，须要在此处添加一个对ACTION_VIEW事件的过滤器，
其中的scheme是“tencent”前缀再开发者应用的加上appId。
如果此过滤器不设置，则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <intent-filter>
            <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
   		<activity android:name="com.suixin.vy.ui.LoginActivity" 
   		     android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity android:name="com.suixin.vy.ui.LoginingActivity" 
   		     android:theme="@android:style/Theme.Translucent.NoTitleBar"
   		     android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>
        </application>

</manifest>
